<app-header-bar></app-header-bar>

<div class="content">
  <main>
    <section>
      <h1> hello!ccccc</h1>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      <p> hello! </p>
      
    </section>
  </main>
  </div>

<app-bottom-nav></app-bottom-nav>
