<div class="bottom-bar">
  <section>
    <img id="project-icon" src="\assets\ProjectsIcon.svg" alt="ProjectsIcon" >
  </section>
  <section class="project-icon-label"> Projects </section>
  <section>

    <img id="search-icon" src="\assets\MagnifyingGlassBase.svg" alt="SearchIcon">
  </section>
  <section class="search-icon-label"> Search</section>
  <section>

    <img id="purchasing-icon" src="\assets\PurchaseOrderIcon.svg" alt="OrderingIcon">
  </section>
  <section class="purchasing-icon-label"> Quotes & Orders </section>
  <section>

    <img id="hamburger-icon" src="\assets\HamburgerIcon.svg" alt="MoreIcon">
  </section>
</div>
